/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.wrapper {
    background-color: #f5f5f5;
}

.content {
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.border-right {
    border-right: #f5f5f5 solid 1px;
}

.current-price {
    font-size: 32px;
    line-height: 40px;
    margin-right: 8px;
    font-weight: 500;
}

.max-width-768 {
    max-width: 768px;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

.card-img-top-2 {
    width: 100%;
    height: 15vh;
    object-fit: contain;
}

body {
    height:100%;
    min-height: calc(100vh);
}

body main {
    height: 100%;
}

.cart-wrapper {
    font-size: 28px;
    position: relative;
}

.cart-wrapper .cart-count {
    position: absolute;
    height: 18px;
    min-width: 19px;
    left: 18px;
    top: 7px;
    background: #C92127;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    padding: 2px;
    border-radius: 9px;
    border: 1px solid #fff;
    text-align: center;

}

.btn-primary-outline {
    background-color: transparent;
    border-color: none;
  }

  .cart-title h5 {
    font-size: 16px;
  }