<section id="book-detail" class="container mt-4">
    <div class="row mt-15 content ">
        <div class="col-6 border-right">
            <img [src]="book.image" [alt]="book.title" />
        </div>
        <div class="col-6">
            <h3 class="pt-2 mb-0">{{ book.title }}</h3>
            <br />
            <p>Category: {{ book.category }}</p>
            <p>Price: <span class="current-price">{{book.price}}</span></p>
            <button type="button" class="btn-primary">Add to cart</button>
        </div>
    </div>

    <div class="row content mt-2 pt-2">
        <div class="col-12">
            <h5>Description
            </h5>
            <p>{{book.description}}</p>
        </div>
    </div>


</section>