<div class="content row">

    <h4>Book list</h4>
    <p class="text-center">Total book: <span *ngIf="total$">{{ total$ | async }}</span></p>

    <form>
        <div class="mb-3 row">
            <!-- <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
            <div class="col-xs-3 col-sm-auto">
                <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                    [(ngModel)]="bookService.searchTerm">
            </div> -->
            <span class="col col-form-label" *ngIf="bookService.loading$ | async">Loading...</span>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div *ngFor="let book of books$ | async" class="col-sm-6 col-md-4 col-lg-3 mb-4 mb-md-0"
                style="cursor: pointer;" [routerLink]="['/books/', book._id ]">
                <div class="card">
                    <img src="{{book.image}}" class="card-img-top pt-2" alt="book.title">
                    <!-- <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">Category: {{book.category}}</p>
                        <p class="card-text">Quantity: {{book.quantity}}</p>
                        <p class="card-text">Price: {{book.price}}</p>
                    </div> -->

                    <div class="card-body">

                        <div class="d-flex justify-content-between mb-1">
                            <p class="mb-0">{{book.title}}</p>
                        </div>

                        <div class="d-flex justify-content-between">
                            <h5 class="mb-0 text-danger">{{book.price}}</h5>
                            <!-- <p class="small text-danger"><s>$1099</s></p> -->
                        </div>

                        <div class="d-flex justify-content-between">
                            <p class="small"><a href="#!" class="text-muted">{{book.category}}</a></p>
                            <!-- <p class="small text-danger"><s>$1099</s></p> -->
                        </div>


                        <div class="d-flex justify-content-between mb-2">
                            <p class="text-muted mb-0">Available: <span class="fw-bold">{{book.quantity}}</span></p>
                            <div class="ms-auto text-warning">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="bookService.pageNum"
                [pageSize]="bookService.pageSize">
            </ngb-pagination>

            <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="bookService.pageSize">
                <option [ngValue]="12">12 items per page</option>
                <option [ngValue]="24">24 items per page</option>
                <option [ngValue]="50">60 items per page</option>
            </select>
        </div>

    </form>

</div>